/* Set default text styling */
body {
  color: #495057;
  /* color: #c35a25; */
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
  letter-spacing: normal;
}

.graph-title {
  text-align: left;
  margin-left: 10px;
}

.info-icon {
  font-size: 15px;
  margin-left: 5px;
}

/* Text color of the selected value in the dropdown */
.Select-value-label {
  color: #495057!important;
  /* color: #c35a25!important; */
}
